.auth__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0;
}

.auth__link:hover {
    text-decoration: underline;
    opacity: .8;
}