.auth {
    width: 358px;
    padding-top: 90px;
    margin: 0 auto;
    color: #fff;
    flex-grow: 1;
    height: 30%;
  }

  @media screen and (max-width: 1279px) {
    .auth {
      width: 300px;
    }    
  }